@charset "utf-8";
*{margin:0 ; padding:0;}
body{background-color:#9aaeb3;}
a{text-decoration:none; color:#1d1d1d;border:0;}
img{border:0;}
li{list-style:none;}

/*-----header------*/
header{width:100% ;height:100%;background-image:url("../img/back.jpg");
      background-repeat:no-repeat;background-attachment:fixed;
      background-size:cover;position:relative;}
header>#title{width:230px;height:350px;
              position:absolute;left:15%;border:1px solid #fff;}
/*-----#new------*/
#nev{width:100%;height:100px;background-color:#fff;}
.fix{position:fixed;top:0;z-index:200;}
#nev>#menu{width:950px;height:100px;margin:0 auto;position:relative;overflow:hidden;}
#nev>#menu>a>img{float:left;}
#nev>#menu>ul{position:absolute;right:0;top:15px;}
#nev>#menu>ul>li{float:left;border-bottom:1px solid #292929;margin-left:10px;cursor:pointer;}
#nev>#menu>ul>li>a:hover{opacity:0.3;}

#nev>#submenu{width:100%; height:100px;background-color:rgba(0,0,0,0.6);display:none;}
#nev>#submenu>article{width:950px;height:100px;text-align:right;margin:0 auto;}
#nev>#submenu>article>a{display:inline-block;width: 100px;height:100px;}
#nev>#submenu>article>a:hover{background-color:rgba(0,0,0,0.5);}
/*-----#intro------*/
#intro{width:100%;height:500px;color:#fff;text-align:center;overflow:hidden;}
#intro>h3{margin-top:250px;}
/*-----#slide------*/
#slide{width:100%;height:550px;background-color:#9aaeb3;position:relative;overflow:hidden;}
#slide>img{position:absolute;display:none;width:100%;}
#slide>article{position:absolute;display:none;width:950px;height:550px;}
.event_link{cursor:pointer;}
/*-----#introduce------*/
#introduce{width:100%;overflow: hidden;}
#introduce>article{width:950px;height:580px;margin:0 auto;overflow:hidden;}
#introduce>article>img{width:526px;height:580px;float:left;}
#introduce>article>section{max-width:424px;height:580px;float:left;background-color:rgba(255,255,255,0.1);
                          position:relative;}
#introduce>article>section>h3{text-align:center;color:#fff;margin-top:50px;}
#introduce>article>section>h5{width:424px;text-align:center;color:#fff;}
#introduce>article>section>p{padding:15px;color:#343434;}
#introduce>article>section>a{position:absolute;bottom:30px;left:202px;cursor:pointer;}
#introduce>article>section>a:hover{opacity:0.5;}
/*-----#wrap #product------*/
#product{width:100%;overflow:hidden;position:relative;}
#product>div{width:100%;background-color:rgba(255,255,255,0.2);padding-bottom:100px;}
#product>div>h3{text-align:center;background-color:#fff;padding:250px 0 50px 0;
                          color:#9aaeb3;margin-bottom:50px;}
#product>div>article{margin:0 auto;background-color:rgba(0,0,0,0.5);}
/*-----popup-----*/
#product>div>div{width:100%;position:fixed;top0;bottom:0;background-color:rgba(0,0,0,0.8);
                z-index:200;display:none;}
#product>div>div>article{width:600px;height:600px;overflow:hidden;position:fixed;
                          display:none;}
#product>div>div>article>a{padding:5px 20px; color:#fff;background-color:rgba(255,255,255,0.5);
                          display:block;text-align:right;}
#product>div>div>article>h3{color:#fff;padding:30px 0 80px 0;text-align:center;
                            border-top:1px solid #fff;}
#product>div>div>article>aside{width:200px;height:400px;float:left;}
#product>div>div>article>aside img{width:50px;}
#product>div>div>article>aside img:hover{opacity:0.5;}
#product>div>div>article>section{width:400px;height:400px;float:right;position:relative;}
#product>div>div>article>section img{position:absolute;z-index:-100;}

/*-----bracelet-----*/
.bracelet{display:none;}
.bracelet>article{width:900px;overflow:hidden;}
.bracelet>article>a{display:block;float:left;width:300px;height:300px;}
.bracelet>article>a>img{width:300px;}
.bracelet>article>a>img:hover{opacity:0.5;}
/*-----necklace-----*/
.necklace{display:none;}
.necklace>article{width:800px;overflow:hidden;}
.necklace>article>a{display:block;float:left;width:400px;height:400px;}
.necklace>article>a>img{width:400px;}
.necklace>article>a>img:hover{opacity:0.5;}
/*-----earring-----*/
.earring{display:none;}
.earring>article{width:600px;overflow:hidden;}
.earring>article>a{display:block;float:left;width:300px;height:300px;overflow:hidden;}
.earring>article>a>img{width:300px;}
.earring>article>a>img:hover{opacity:0.5;}
/*-----ring-----*/
.ring{display:none;}
.ring>article{width:750px;overflow:hidden;}
.ring>article>a{display:block;float:left;width:250px;height:250px;overflow:hidden;}
.ring>article>a>img{width:250px;}
.ring>article>a>img:hover{opacity:0.5;}
/*-----#addr-----*/
#addr{width:100%;overflow:hidden;}
#addr>h3{padding:170px 0 30px 0;text-align:center;border-bottom:1px solid #fff;}
#addr>article{width:950px;height:350px;margin:0 auto;position:relative;}
#addr>article>aside{width:430px;height:350px;position:absolute;top:0;right:0;}
#addr>article>aside>h5{color:#fff;border-bottom:1px dotted #fff;}
#addr>article>aside>p{margin:8px 0;}
/*-----inquiry-----*/
#inquiry{width:100%; background-color:#fff;overflow:hidden;}
#inquiry>h3{padding:170px 0 30px 0;text-align:center;background-color:#9aaeb3;}
#inquiry>h5{padding:0 0 25px 0; text-align:center;background-color:#9aaeb3;}
#inquiry>article{width:950px;margin:0 auto;overflow:hidden;padding:100px 0;}
#inquiry>article>aside{width:350px;float:left;text-align:center;}
#inquiry>article h5{padding-bottom:15px;border-bottom:1px solid #343434;
                          margin-bottom:20px;}
#inquiry>article>aside>a>div{display:inline-block;width:110px;text-align:center;
                                height:345px;position:relative;background-color:#a2a2a2;}
#inquiry>article>aside>a>div>h4{color:#a2a2a2;}
#ff:hover{background-color:#982246;}
#ff:hover>h4{background-color:#fff;color:#982246 ;}
#ss:hover{background-color:#237995;}
#ss:hover>h4{background-color:#fff;color:#237995; }
#ll:hover{background-color:#386139;}
#ll:hover>h4{background-color:#fff;color:#386139; }

#inquiry>article>aside>a>div img{margin-top:45px;}
#inquiry>article>aside>a>div h6{color:#fff;}
#inquiry>article>aside>a>div h4{width:110px;padding:12px 0;position:absolute;bottom:0;}

#inquiry>article>section{width:570px;float:left;margin-left:30px;}
#inquiry>article>section>h5{text-align:center;}
#inquiry table{width:520px;height:345px;margin:0 auto;}
#inquiry table textarea{width:520px;height:200px;border:0;border-bottom:1px solid #343434;}
#inquiry table .bt{background-color:#9aaeb3;width:120px; border:0; color:#fff;
                        padding:3px 0;}
#inquiry table .t_point{background-color:#343434;color:#fff;margin-top:10px;}
#inquiry table .td_point{width:250px;border-bottom:1px solid #343434;}
#inquiry table input{border:0}

/*-----footer-----*/
footer{width:100%;background-color:#292929;overflow:hidden;color:#828282;font-size:11px;}
footer>article{width:950px;margin:0 auto;position:relative;}
footer>article>ul:first-child{padding: 15px 0;color:#828282;}
footer>article>ul:last-child{position:absolute;right:15px;top:45%;}
footer>article>ul:last-child li{float:left;margin-left:50px;}
footer>article>ul:last-child>li a{color:#828282;}
footer>article>ul:last-child li:hover a{color:#fff;}
